body {
  background: url("../css/bg.jpg");
  width: 50%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10%;
}

h {
  color: #ffffff;
  text-align: left;
  font-family:  monospace;
}

h2 {
  color: #ffffff;
  text-align: left;
  font-family:  monospace;
}

input[type=submit] {
  background-color: #ffffff;
  width: 80px;
  height: 80px;
  color: #3366ff;
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  border-radius: 50px;
  border: #ff0000 5px solid;
}

.UP {
  width: 12vh;
  height: 12vh;
  margin: 30vh 0vh 0vh 0vh;
}

.DOWN {
  width: 12vh;
  height: 12vh;
}

.RIGHT {
  width: 12vh;
  height: 12vh;
}

.LEFT {
  width: 12vh;
  height: 12vh;
}

.container {
  margin: 10% 0% 0% 50%;
}
